.type {
  @apply rounded-xl bg-inherit py-1 px-3;
}

.grass {
  @apply border-2 border-green-700 text-green-700;
}

.poison {
  @apply border-2 border-purple-700 text-purple-700;
}

.fire {
  @apply border-2 border-orange-600 text-orange-600;
}

.flying {
  @apply border-2 border-sky-600 text-sky-600;
}

.water {
  @apply border-2 border-blue-400 text-blue-400;
}

.electric {
  @apply border-2 border-yellow-500 text-yellow-500;
}

.ground {
  @apply border-2 border-yellow-700 text-yellow-700;
}

.dark {
  @apply border-2 border-slate-600 text-slate-600;
}

.ice {
  @apply border-2 border-cyan-600 text-cyan-600;
}

.fairy {
  @apply border-2 border-pink-700 text-pink-700;
}

.psychic {
  @apply border-2 border-violet-700 text-violet-700;
}

.bug {
  @apply border-2 border-lime-600 text-lime-600;
}

.normal {
  @apply border-2 border-neutral-600 text-neutral-600;
}

.fighting {
  @apply border-2 border-red-700 text-red-700;
}
